@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

a {
  text-decoration-line: none;
}

body {
  height: 100%;
}

#body-index{
  color: rgb(255, 255, 255);
  background-image: url("../assets/salnes2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  padding: 2rem 3rem;
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
  background-color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}


#main-index {
  position: absolute;
  top: 30%;
  left: 30%;
}

main {
  padding-top: 5rem;
}

ul#categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;

}

.container {
  width: 100%;
  padding: 2rem;
}

.container-img {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  background-color: yellow;

}

.container-gallery {
  display: flex;
}

.container-img {
  margin: 1rem;
}
.container-gallery img {
  width: 450px;
  height: 300px;
}

.img3 {
  width: auto;
  heigth: auto;
}

.card{
  display: flex;
  align-items: center;
}

.card-img img {
  width: 200px;
}
