@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 30px;
}

a {
  text-decoration-line: none;
  color: black;
}

section {
  padding: 2rem 1rem 1rem 2rem;
  height: auto;
}

main {
  margin-top: 50px;
}

.glide {
  margin-top: 2rem;
}

.glide__slides {
  height: 600px;
}

.glide__slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 1rem;
  top: 0;
}

a.button {
  margin-top: 2rem;
  border-radius: 2em;
  padding: 10px;
  background-color: #fff;
  border: 0.16em solid rgba(0, 0, 0, 0.25);
}

#index-btn {
  display: flex;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  float: right;
}

.navbar ul li {
  list-style-type: none;
}

ul#categories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
}

.container {
  margin-top: 50px;
}

#index {
  align-text: center;
  justify-content: center;
}

.container-img {
  flex: 33.33%;
  list-style-type: none;
  margin: 5px;
}

#list-playas {
  margin: 20px;
}

.container-gallery {
  display: flex;
}

.container-gallery img {
  width: 100%;
  height: 100%;
}

.img3 {
  width: auto;
  heigth: auto;
}

.card {
  display: flex;
  align-items: center;
}

.card-img img {
  width: 200px;
}

.container-presentacion {
  background-color: #fff;
  border: 1px solid #c8bfb3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c8bfb3;
  max-width: 900px;
  margin: 100px auto;
  padding: 30px;
  text-align: center;
}

#enlaces li {
  text-align: left;
}

.row {
  display: flex;
}
.container.row {
  align-items: center;
  justify-content: center;
}

@media (max-width: 850px) {
  .container.row {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.container-map {
  border: 1px solid #c8bfb3;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #c8bfb3;
  width: 400px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.glide__arrow {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 10px 20px;
}
.glide__arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.glide__arrow--left {
  left: 20px;
}

.glide__arrow--right {
  right: 20px;
}
